.Registration_rows{
  width: 300px; /* Встановіть потрібну ширину */
  margin: 0 auto; /* Центрує блок */

}
.Registration input {
  margin-bottom: 10px; /* Відступ між інпутами */
  font-size: 14px; /* Розмір шрифта інпутів */
}
.save_button {
    margin-top: 20px;

    padding: 8px;
    border: none;
    width: 100px;
    border-radius: 5px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
}

.save_button:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}