{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Chat_Dall-E_Gpt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'training_app/css/style.css' %}">
</head>
<body>
{% block content %}

<div class="form-container">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="Registration_rows">
    <input class="input is-small" type="text" name="name" id="username" placeholder="Ім'я" required/>
    <input type="text" name="surname" id="surname" placeholder="Прізвище" required/>
    <input type="email" name="email" id="email" placeholder="Електронна пошта" required/>
    <input type="password" name="password" id="password" placeholder="Пароль" required/>

    <button type="submit">Save</button>
    </div>
</form>
</div>


{% if response_text %}
    <h2>Відповідь:</h2>
    <p>{{ response_text }}</p>
  {% endif %}

  {% if response_image %}
    <h2>Зображення:</h2>
    <img src="{{ response_image }}" alt="AI Зображення" width="256">
  {% endif %}
{% endblock %}
</body>
</html>